{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}


   <header class="masthead bg-primary text-white text-center">
      <div class="container d-flex align-items-center flex-column">
         <img src="https://webstockreview.net/images/gem-clipart-svg-3.png" width="40%">
      </div>
   </header>

{% endblock %}
